#ContainerTemp {
  padding-top: 25px;
  padding-bottom: 25px;

}

#TempLabel {
  font-size: 5em;
  font-weight: medium;
}

#TempIcon {
  font-size: 5em;

}

#Degree {
  font-size: 4em;
}

#CityNameLabel{
  font-size: 1em;
  font-weight: bold;
}

#LocalLabel{
  font-size: 1em;
}

#ContainerMain {
  font-family: 'Raleway', sans-serif;
  background: radial-gradient(circle at 50% 120%, #CC95C0, #DBD4B4 20%, #7AA1D2);
  background-size: cover;
  padding: 15px;
}

#Timer {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(0deg, #3CA55C, #B5AC49);
  font-weight: bold;
  padding: 50px;
}
